@font-face {
  font-family: "ArameMonoBold";
  /*Can be any text*/
  src: local("ArameMonoBold"),
    url("./fonts/ArameMono-Bold.ttf");
}

@font-face {
  font-family: "ArameMonoThin";
  /*Can be any text*/
  src: local("ArameMonoThin"),
    url("./fonts/ArameMono-Thin.ttf");
}

@font-face {
  font-family: "ArameMono";
  /*Can be any text*/
  src: local("ArameMono"),
    url("./fonts/ArameMono.ttf");
}

:root {
  --black: #000000;
  --monoDark: #0D0D0D;
  --baseAlfa: #741C8C;
  --baseElectric: #5327F2;
  --baseGradientOne: linear-gradient(180deg, #5327F2 0%, #741C8C 100%);
  --baseGradientTwo: linear-gradient(180deg, #721C91 0%, #5327F2 100%);
  --baseGradientThree: linear-gradient(225deg, #2E1A7C 0%, #3A1EA3 7%, #4522C5 15%, #4C24DE 22%, #5126EC 28%, #5327F2 34%, #5725E4 39%, #6321BE 57%, #6C1EA2 74%, #721C91 89%, #741C8C 100%);
  --baseOpac: #4D1BBA;
  --baseStrong: #2E1A7C;
  --monoDarkGray: #444444;
  --monoGray: #707070;
  --monoLightGray: #999999;
  --monoWhite: #FFFFFF;
  --statusDanger: #EB5757;
  --statusInfo: #0DCAF0;
  --statusSuccess: #219653;
  --statusWarning: #F2994A;

  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--monoWhite);
  background-color: var(--black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  display: block;
  height: 100%;
  width: 100%;
  font-family: "Barlow"sans-serif;
}


body {
  display: flex;
  justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "ArameMono";
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2em;
  line-height: 30px;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-family: "Barlow";
  font-weight: 300;
  font-size: 1.3em
}

h5 {
  font-family: "Barlow";
  font-size: 1em
}

h6 {
  font-family: "Barlow";

  font-size: 0.8em
}

#root {
  max-width: -webkit-fill-available;
  width: 100%;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.welcome {
  height: 100%;
  width: 100%;
  background-image: url("assets/graphy-dark.png");
  background-position: center;
  background-size: auto;
  transition: all .5s ease-in-out;
  -webkit-animation: slide 10s cubic-bezier(.68, -0.55, .27, 1.55) infinite;
}

.welcome>* {
  scale: 1;
  transition: scale 0.25s;
}

.welcome>*:hover {
  scale: 1.1;
  transition: scale 0.25s;
}

.logo {
  height: 10em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover, .logoCss:hover {
  filter: drop-shadow(0 0 2em var(--baseOpac));
}

.logo:hover, .logoCss:hover {
  filter: drop-shadow(0 0 2em var(--baseStrong));
}

a {
  font-weight: 500;
  color: var(--baseElectric);
  text-decoration: inherit;
}

a:hover {
  color: var(--baseAlfa);
  cursor: pointer;
}

.card {
  padding: 5em;
}


.logoCss {
  width: 100px;
  height: 100px;
  will-change: filter;
  transition: filter 300ms;
  display: flex;
  flex-direction: column;
  background-image: url('/public/isologo.svg');
  background-size: contain;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--baseElectric);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--baseElectric);
  background-color: var(--baseAlfa);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--monoWhite);
  }

  a:hover {
    color: var(--baseAlfa);
  }

  button {
    background-color: var(--baseStrong);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* MEDIA QUERY FOR SMARTPHONES */
@media (max-width: 768px) {
  .logo {
    height: 5em;
    padding: 0.5em;
  }

  .logoCss {
    width: 50px;
    height: 50px;
  }

  .card {
    padding: 2em;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.1em;
  }

  h3 {
    font-size: 1em;
  }

  h4 {
    font-size: 0.9em;
  }

  h5 {
    font-size: 0.7em;
  }

  h6 {
    font-size: 0.6em;
  }
}

/* ANIMACIONES */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -400px -400px;
  }
}